<h1>User info</h1>
<%= form_for(@user) do |f| %>
<a>Name</a>
<%= f.text_field :name %>
<a>Image</a>
	<%= f.attachment_field :profile_image %>
<a>Introduction</a>
<%= f.text_field :introduction %>
<%= f.submit "Update User" %>

<% end %>

