<h1>Users</h1>
<table class = "clearfix">
	<div class = "underbar">
		<tr>
			<th class = "image">image</th>
			<th class = "title">name</th>
	   		<th class = "opinion"></th>
	   	</tr>
	</div>
   	<% @users.each do |book| %><!--ユーザー一人一人の表示を繰り返す -->
	<tr class = "box clearfix">
		<td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg"%></td>
		<td><%= @users.name %></td>
		<td><%= link_to "show", user_path(@users) %>
   	</tr>
	<% end %>
</table>

<%= render "users/leftpage", user: @user %>
<%= render "books/leftbottom", book: @book %>