<h1>Books</h1>
<table class = "clearfix">
	<div class = "underbar">
		<tr>
			<th class = "null"></th>
			<th class = "title">Title</th>
	   		<th class = "opinion">Opinion</th>
	   	</tr>
	</div>

   	<% @books.each do |book| %>
	<tr class = "box clearfix">
		<td><%= link_to user_path do %>
			 <%= attachment_image_tag @user, :profile_image_id, :fill, 20, 20, fallback: "no_image.jpg"%>
		<% end %>
		</td>

		<td><%= link_to book.title, book_path %></td>
	 	<td><%= book.body %></td>
   	</tr>
	<% end %>
</table>

<%= render "users/leftpage", user: @user %>
<%= render "books/leftbottom", book: @book %>