<%= render "users/leftpage", user: @user %>
<%= render "books/leftbottom", book: @book %>
<h1>Books detail</h1>
<table class = "clearfix">
	<div class = "underbar">
		<tr>
			<th class = "null"></th>
			<th class = "title">タイトル</th>
	   		<th class = "opinion">感想</th>
	   	</tr>
	</div>
	<tr class = "box clearfix">
		<td> <%= attachment_image_tag @user, :profile_image_id, :fill, 20, 20, fallback: "no_image.jpg"%></td>
		<td><%= @book.title %></td>
	 	<td><%= @book.body %></td>
	 	<td><%= link_to "edit", edit_book_path %></td>
	 	<%= link_to "destroy", book_path, method: :delete %>
   	</tr>
</table>