<!DOCTYPE html>
<html>
  <head>
     <%= flash[:notice] %>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div> 
      <ul class="">
        <% if user_signed_in? %>
          <li class="">
            <%= link_to 'Home', user_path(current_user.id) %><!--マイページ　クリア-->
          </li>
          <li class="">
            <%= link_to 'Users', users_path %><!--登録ユーザー一覧 問題-->
          </li>
          <li class="">
            <%= link_to 'Books', books_path %><!--本投稿一覧　問題-->
          </li>
          <li class="">
            <%= link_to 'logout', destroy_user_session_path, method: :delete %> <!--ログアウト　完成-->
          </li>
        <% else %>
          <li class="">
            <%= link_to "Home", root_path %><!--トップページに返す-->
          </li>
          <li class="">
            <%= link_to "About", about_path %><!--アバウト画面　完成-->
          </li>
          <li class="">
            <%= link_to "sign up", new_user_password_path %><!--サインアップ　完成-->
          </li>
          <li class="">
            <%= link_to "login", new_user_session_path %><!--サインイン　完成-->
          </li>
        <% end %>
     </ul>
    </div>
    <%= yield %>
    <footer>
      <a>CopyRight Infratop.inc</a>
    </footer>
  </body>
</html>
